@{
    ViewData["Title"] = "Home";
}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Store Locator</h1>
        <p class="col-md-8 fs-4">Effortlessly enhance your website with a robust store locator, enabling potential customers to easily discover the nearest locations and tailor their search results to their preferences. The Azure Maps Store Locator offers a user-friendly yet powerful solution, complete with a comprehensive store location management system.</p>
        <a class="btn btn-primary btn-lg" href="stores" role="button">Find a Store!</a>
    </div>
</div>
